<div class="container">
  <div class="row box-content w-100">
    <div class="col-12 my-auto">
      <div class="top w-100 d-flex justify-content-center align-items-center">
        <div class="number">4</div>
        <div class="number">
          <mdb-icon fas icon="shield-alt" class="text-info px-3" color="info"></mdb-icon>
        </div>
        <div class="number">3</div>
      </div>
      <div class="bottom text-center">
        <h1 class="h1-responsive">Access not granted</h1>
      </div>
      <div class="navigate-button text-center">
        <button mdbBtn type="button" routerLink=""  color="info" rounded="true" mdbWavesEffect>Go to Homepage</button>
      </div>
    </div>
  </div>
</div>